name: Build Plugins

on:
  workflow_dispatch:

jobs:
  build-all:
    runs-on: windows-latest
    steps:
      - name: Setup .NET SDKs
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.x
            9.0.x

      # Checkout Artemis repo into ./Artemis
      - name: Clone Artemis
        uses: actions/checkout@v4
        with:
          repository: Artemis-RGB/Artemis
          ref: development
          path: Artemis

      # Checkout Plugins repo into ./Plugins
      - name: Clone Plugins
        uses: actions/checkout@v4
        with:
          repository: Fivjejinek/Artemis.Plugins.Public
          path: Plugins

      # Show everything on D: drive to confirm paths
      - name: List D: drive contents
        shell: powershell
        run: Get-ChildItem -Path D:\ -Recurse

      # Build Artemis core projects so references are available
      - name: Build Artemis Core
        run: dotnet build .\Artemis\src\Artemis.Core\Artemis.Core.csproj -c Release
      - name: Build Artemis UI Shared
        run: dotnet build .\Artemis\src\Artemis.UI.Shared\Artemis.UI.Shared.csproj -c Release
      - name: Build Artemis UI
        run: dotnet build .\Artemis\src\Artemis.UI\Artemis.UI.csproj -c Release
      - name: Build Artemis Storage
        run: dotnet build .\Artemis\src\Artemis.Storage\Artemis.Storage.csproj -c Release
      - name: Build Artemis WebClient Updating
        run: dotnet build .\Artemis\src\Artemis.WebClient.Updating\Artemis.WebClient.Updating.csproj -c Release

      # --- Build & Upload Plugins sequentially ---
      - name: Build ExtendedWebAPI
        run: dotnet publish -c Release .\Plugins\src\Collections\Artemis.Plugins.ExtendedWebAPI\Artemis.Plugins.ExtendedWebAPI.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.ExtendedWebAPI
          path: .\Plugins\src\Collections\Artemis.Plugins.ExtendedWebAPI\bin\x64\Release\net9.0\publish

      - name: Build DisplaySettings
        run: dotnet publish -c Release .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.DisplaySettings\Artemis.Plugins.DataModelExpansions.DisplaySettings.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.DisplaySettings
          path: .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.DisplaySettings\bin\x64\Release\net6.0-windows\publish

      - name: Build Teams
        run: dotnet publish -c Release .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.Teams\Artemis.Plugins.DataModelExpansions.Teams.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.Teams
          path: .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.Teams\bin\x64\Release\net6.0-windows\publish

      - name: Build OpenWeather
        run: dotnet publish -c Release .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.OpenWeather\Artemis.Plugins.DataModelExpansions.OpenWeather.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.OpenWeather
          path: .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.OpenWeather\bin\x64\Release\net9.0\publish

      - name: Build PowerPlan
        run: dotnet publish -c Release .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.PowerPlan\Artemis.Plugins.DataModelExpansions.PowerPlan.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.PowerPlan
          path: .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.PowerPlan\bin\x64\Release\net6.0-windows\publish

      - name: Build Profiles
        run: dotnet publish -c Release .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.Profiles\Artemis.Plugins.DataModelExpansions.Profiles.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.Profiles
          path: .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.Profiles\bin\x64\Release\net9.0\publish

      - name: Build YTMdesktop
        run: dotnet publish -c Release .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.YTMdesktop\Artemis.Plugins.DataModelExpansions.YTMdesktop.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.YTMdesktop
          path: .\Plugins\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.YTMdesktop\bin\x64\Release\net9.0\publish

      - name: Build PowerPlay
        run: dotnet publish -c Release .\Plugins\src\Device\PowerPlay\Artemis.Plugins.Devices.PowerPlay\Artemis.Plugins.Devices.PowerPlay.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.Devices.PowerPlay
          path: .\Plugins\src\Device\PowerPlay\Artemis.Plugins.Devices.PowerPlay\bin\x64\Release\net9.0\publish

      - name: Build YeeLight
        run: dotnet publish -c Release .\Plugins\src\Device\YeeLight\Artemis.Plugins.Devices.YeeLight\Artemis.Plugins.Devices.YeeLight.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.Devices.YeeLight
          path: .\Plugins\src\Device\YeeLight\Artemis.Plugins.Devices.YeeLight\bin\x64\Release\net9.0\publish

      - name: Build ConnectingDots
        run: dotnet publish -c Release .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.ConnectingDots\Artemis.Plugins.LayerBrushes.ConnectingDots.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.ConnectingDots
          path: .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.ConnectingDots\bin\x64\Release\net9.0\publish

      - name: Build DrippingPaint
        run: dotnet publish -c Release .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.DrippingPaint\Artemis.Plugins.LayerBrushes.DrippingPaint.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.DrippingPaint
          path: .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.DrippingPaint\bin\x64\Release\net9.0\publish

      - name: Build Nexus
        run: dotnet publish -c Release .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Nexus\Artemis.Plugins.LayerBrushes.Nexus.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.Nexus
          path: .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Nexus\bin\x64\Release\net9.0\publish

      - name: Build Ripples
        run: dotnet publish -c Release .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Ripples\Artemis.Plugins.LayerBrushes.Ripples.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.Ripples
          path: .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Ripples\bin\x64\Release\net9.0\publish

      - name: Build Shuffle
        run: dotnet publish -c Release .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Shuffle\Artemis.Plugins.LayerBrushes.Shuffle.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.Shuffle
          path: .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Shuffle\bin\x64\Release\net9.0\publish

      - name: Build SolidPercentage
        run: dotnet publish -c Release .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.SolidPercentage\Artemis.Plugins.LayerBrushes.SolidPercentage.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.SolidPercentage
          path: .\Plugins\src\LayerBrushes\Artemis.Plugins.LayerBrushes.SolidPercentage\bin\x64\Release\net9.0\publish

      - name: Build FlickeringLights
        run: dotnet publish -c Release .\Plugins\src\LayerEffects\Artemis.Plugins.LayerEffect.FlickeringLights\Artemis.Plugins.LayerEffect.FlickeringLights.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerEffect.FlickeringLights
          path: .\Plugins\src\LayerEffects\Artemis.Plugins.LayerEffect.FlickeringLights\bin\x64\Release\net9.0\publish

      - name: Build JsonModule
        run: dotnet publish -c Release .\Plugins\src\Modules\Artemis.Plugins.Modules.Json\Artemis.Plugins.Modules.Json.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.Modules.Json
          path: .\Plugins\src\Modules\Artemis.Plugins.Modules.Json\bin\x64\Release\net9.0\publish

      - name: Build NodesExtra
        run: dotnet publish -c Release .\Plugins\src\Nodes\Artemis.Plugins.Nodes.Extra\Artemis.Plugins.Nodes.Extra.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.Nodes.Extra
          path: .\Plugins\src\Nodes\Artemis.Plugins.Nodes.Extra\bin\x64\Release\net9.0\publish
