name: Build Plugins

on:
  workflow_dispatch:

jobs:
  setup:
    runs-on: windows-latest
    steps:
      - name: Setup .NET SDKs
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.x
            9.0.x

      - name: Cache Artemis build
        uses: actions/cache@v4
        with:
          path: |
            ~/.nuget/packages
            Artemis/src/**/bin
            Artemis/src/**/obj
          key: ${{ runner.os }}-artemis-${{ hashFiles('Artemis/**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-artemis-

      - name: Clone Artemis
        uses: actions/checkout@v4
        with:
          repository: Artemis-RGB/Artemis
          ref: development
          path: Artemis

      - name: Build Artemis Core
        run: dotnet build .\Artemis\src\Artemis.Core\Artemis.Core.csproj -c Release
      - name: Build Artemis UI Shared
        run: dotnet build .\Artemis\src\Artemis.UI.Shared\Artemis.UI.Shared.csproj -c Release
      - name: Build Artemis UI
        run: dotnet build .\Artemis\src\Artemis.UI\Artemis.UI.csproj -c Release
      - name: Build Artemis Storage
        run: dotnet build .\Artemis\src\Artemis.Storage\Artemis.Storage.csproj -c Release
      - name: Build Artemis WebClient Updating
        run: dotnet build .\Artemis\src\Artemis.WebClient.Updating\Artemis.WebClient.Updating.csproj -c Release

      - name: Clone Plugins
        uses: actions/checkout@v4
        with:
          repository: Fivjejinek/Artemis.Plugins.Public
          path: Artemis.Plugins.Public

      - name: Log entire D drive
        shell: powershell
        run: Get-ChildItem -Path D:\ -Recurse

  extendedwebapi:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\Collections\Artemis.Plugins.ExtendedWebAPI\Artemis.Plugins.ExtendedWebAPI.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.ExtendedWebAPI
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\Collections\Artemis.Plugins.ExtendedWebAPI\bin\x64\Release\net9.0\publish

  displaysettings:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.DisplaySettings\Artemis.Plugins.DataModelExpansions.DisplaySettings.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.DisplaySettings
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.DisplaySettings\bin\x64\Release\net6.0-windows\publish

  teams:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.Teams\Artemis.Plugins.DataModelExpansions.Teams.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.Teams
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.Teams\bin\x64\Release\net6.0-windows\publish

  openweather:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.OpenWeather\Artemis.Plugins.DataModelExpansions.OpenWeather.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.OpenWeather
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.OpenWeather\bin\x64\Release\net9.0\publish

  powerplan:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.PowerPlan\Artemis.Plugins.DataModelExpansions.PowerPlan.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.PowerPlan
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.PowerPlan\bin\x64\Release\net6.0-windows\publish

  profiles:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.Profiles\Artemis.Plugins.DataModelExpansions.Profiles.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.Profiles
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.Profiles\bin\x64\Release\net9.0\publish

  ytmdesktop:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.YTMdesktop\Artemis.Plugins.DataModelExpansions.YTMdesktop.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.DataModelExpansions.YTMdesktop
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\DataModelExpansions\Artemis.Plugins.DataModelExpansions.YTMdesktop\bin\x64\Release\net9.0\publish

  powerplay:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\Device\PowerPlay\Artemis.Plugins.Devices.PowerPlay\Artemis.Plugins.Devices.PowerPlay.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.Devices.PowerPlay
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\Device\PowerPlay\Artemis.Plugins.Devices.PowerPlay\bin\x64\Release\net9.0\publish

  yeelight:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\Device\YeeLight\Artemis.Plugins.Devices.YeeLight\Artemis.Plugins.Devices.YeeLight.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.Devices.YeeLight
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\Device\YeeLight\Artemis.Plugins.Devices.YeeLight\bin\x64\Release\net9.0\publish

  connectingdots:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.ConnectingDots\Artemis.Plugins.LayerBrushes.ConnectingDots.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.ConnectingDots
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.ConnectingDots\bin\x64\Release\net9.0\publish

  drippingpaint:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.DrippingPaint\Artemis.Plugins.LayerBrushes.DrippingPaint.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.DrippingPaint
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.DrippingPaint\bin\x64\Release\net9.0\publish

  nexus:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Nexus\Artemis.Plugins.LayerBrushes.Nexus.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.Nexus
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Nexus\bin\x64\Release\net9.0\publish

  ripples:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Ripples\Artemis.Plugins.LayerBrushes.Ripples.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.Ripples
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Ripples\bin\x64\Release\net9.0\publish

  shuffle:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Shuffle\Artemis.Plugins.LayerBrushes.Shuffle.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.Shuffle
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.Shuffle\bin\x64\Release\net9.0\publish

  solidpercentage:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.SolidPercentage\Artemis.Plugins.LayerBrushes.SolidPercentage.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerBrushes.SolidPercentage
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerBrushes\Artemis.Plugins.LayerBrushes.SolidPercentage\bin\x64\Release\net9.0\publish

  flickeringlights:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerEffects\Artemis.Plugins.LayerEffect.FlickeringLights\Artemis.Plugins.LayerEffect.FlickeringLights.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.LayerEffect.FlickeringLights
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\LayerEffects\Artemis.Plugins.LayerEffect.FlickeringLights\bin\x64\Release\net9.0\publish

  jsonmodule:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\Modules\Artemis.Plugins.Modules.Json\Artemis.Plugins.Modules.Json.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.Modules.Json
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\Modules\Artemis.Plugins.Modules.Json\bin\x64\Release\net9.0\publish

  nodesextra:
    runs-on: windows-latest
    needs: setup
    steps:
      - run: dotnet publish -c Release .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\Nodes\Artemis.Plugins.Nodes.Extra\Artemis.Plugins.Nodes.Extra.csproj
      - uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.Nodes.Extra
          path: .\Artemis.Plugins.Public\Artemis.Plugins.Public\src\Nodes\Artemis.Plugins.Nodes.Extra\bin\x64\Release\net9.0\publish
