name: Build Plugins

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Setup .NET SDKs
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.x
            7.0.x
            9.0.x

      - name: Clone Artemis
        uses: actions/checkout@v3
        with:
          repository: Artemis-RGB/Artemis
          ref: development
          path: Artemis

      - name: Build Artemis Core
        run: dotnet build .\Artemis\src\Artemis.Core\Artemis.Core.csproj

      - name: Build Artemis UI Shared
        run: dotnet build .\Artemis\src\Artemis.UI.Shared\Artemis.UI.Shared.csproj

      - name: Build Artemis UI
        run: dotnet build .\Artemis\src\Artemis.UI\Artemis.UI.csproj

      - name: Clone Plugins
        uses: actions/checkout@v3
        with:
          path: Plugins

      - name: Build Plugins
        run: dotnet publish -c Release .\Plugins\src\Artemis.Plugins.Public.sln

      # Upload artifacts (already updated to v4 in previous fix)
      - name: Upload Artemis.Plugins.ExtendedWebAPI
        uses: actions/upload-artifact@v4
        with:
          name: Artemis.Plugins.ExtendedWebAPI
          path: .\Plugins\src\Collections\Artemis.Plugins.ExtendedWebAPI\bin\x64\Release\net6.0\publish
